<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-lg bg-nav rounded">
			<a class="nav-link text-white active h5" href="/">Shopping List App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/register">Register</a>
                    </li>
                </ul>
            </div>
		</nav>
    </header>
    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome to Shopping List App</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4">The application is here to help us keep in mind our shopping needs.</p>
            <hr class="my-3 bg-white w-75" />
            <h3>
                <a class="text-primay" href="/users/login">Login</a>
                if you have an account or
                <a class="text-primay" href="/users/register">Register</a>
                now and check our deals.
            </h3>
        </div>
    </main>
    <footer class="footer bg-transparent  py-2">
       <div class="container-fluid text-center">
			<div class="footer-background h5 text-white">
            &copy; Spring team 2021. All rights reserved.
			</div>
		</div>
    </footer>
</body>
</html>
