<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping list App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
			<a class="nav-link text-white active h5" href="/">Shopping List App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/">Register</a>
					</li>
				</ul>
			</div>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur"
          action="/users/login"
          method="post"
          th:object="${userLoginDTO}"
    >
        <small  th:each="error : ${#fields.errors()}"
                th:text="${error}"
                class="text-danger">Error message</small>
        <br/>  
        <small  th:if="${validCredentials == false}"
                class="text-danger">Incorrect username or password!</small>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="username" class="h3 mb-2">Username</label>
            </div>
            <input  th:field="*{username}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"/>
        </div>
        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input  th:field="*{password}"
                    th:errorclass="'is-invalid alert-danger'"
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"/>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3">Login</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
		<div class="footer-background h5 text-white">
           &copy; Spring team 2021. All rights reserved.
		</div>
	</div>
</footer>
</body>
</html>
