<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">

                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Pop</h3>
                <div class="bg-dark rounded " style="height: 20vh; overflow: auto">
                    <div  th:each="song : ${popSongs}"
                            class="mt-1 rounded badge-info">
                        <img class="mr-1" src="/img/pop.png" alt="Pop" width="30px" height="30px">
                        <span th:text="|${song.performer} - ${song.title} - (${song.duration} min)|"
                        ></span>
                        <a class="ml-3 text-danger" href="/">Add</a>
                    </div>
                </div>

                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Rock</h3>
                <div class="bg-dark rounded m-auto" style="height: 20vh; overflow: auto">
                    <div   th:each="song : ${rockSongs}"
                            class="mt-1 rounded badge-warning">
                        <img class="mr-1" src="/img/rock.png" alt="Rock" width="30px" height="30px">
                        <span th:text="|${song.performer} - ${song.title} - (${song.duration} min)|"
                        ></span>
                        <a class="ml-3 text-danger" href="/">Add</a>
                    </div>
                </div>

                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Jazz</h3>
                <div class="bg-dark rounded m-auto" style="height: 20vh; overflow: auto">
                    <div th:each="song : ${jazzSongs}"
                            class="mt-3 rounded badge-success">
                        <img class="mr-1" src="/img/jazz.png" alt="Jazz" width="30px" height="30px">
                        <span th:text="|${song.performer} - ${song.title} - (${song.duration} min)|"
                        ></span>
                        <a class="ml-3 text-danger" href="/">Add</a>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">My Playlist</h3>

                <h6 class="mySticky bg-gray text-dark  mb-0 mt-0">{totalDurationOfPlaylist} min. total</h6>

                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <table class="table table-striped table-dark">
                        <tr>
                            <th scope="row"><img class="mr-2 " src="/img/playlist.png" alt="Playlist" width="30px" height="30px"></th>
                            <td>
                                <span>{performer} - {title} ({duration} min)</span>
                            </td>
                        </tr>
                    </table>
                </div>

                <a href="/" class="mt-1 mb-0 btn btn-danger">Remove all</a>
            
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>