<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add task</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          method="post"
          action="/tasks/add-task"
          th:object="${addTaskDTO}"
    >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea
                    th:field="*{description}"
                    th:errorclass="'is-invalid bg-danger'"
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"></textarea>
            <small
                    th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}"
                    class="text-danger">Description error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="dueDate" class="h4 mb-2">Set due date</label>
            </div>
            <input  th:field="*{dueDate}"
                    th:errorclass="'is-invalid bg-danger'"
                    type="date"
                    class="form-control"
                    id="dueDate"
                    name="dueDate"></input>
            <small
                    th:if="${#fields.hasErrors('dueDate')}"
                    th:errors="*{dueDate}"
                    class="text-danger">Due Date error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="priority" class="h4 mb-2">Priority</label>
            </div>
            <select
                    th:field="*{priority}"
                    th:errorclass="'is-invalid bg-danger'"
                    class="browser-default custom-select"
                    id="priority"
                    name="priority">
                <option value="">Select priority</option>
                <option value="URGENT">Urgent</option>
                <option value="IMPORTANT">Important</option>
                <option value="LOW">Low</option>
            </select>

            <small
                    th:if="${#fields.hasErrors('priority')}"
                    th:errors="*{priority}"
                    class="text-danger">Priority error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add task</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
