<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Dictionary App</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Dictionary App is designed to help individuals and language enthusiasts effortlessly access and
            explore the vast world of words and their meanings. It provides a user-friendly interface with a comprehensive
            dictionary that allows users to search for words, browse definitions, and enhance their vocabulary.
<br>
            Dictionary App is a valuable tool for students, writers, professionals, and anyone seeking to enrich their language skills.
            It provides an extensive database of words and their meanings, making it a reliable companion for German, French, Spanish and Italian.</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" href="/users/login">Login</a>
            if you have an account or
            <a class="text-primary" href="/users/register">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>