<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">My Posts</h3>
                <h6 class="mySticky bg-gray text-dark  mb-0 mt-0"
                    th:text="|Username: ${currentUserInfo.get().username}|"
                ></h6>
                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <table class="table table-striped table-dark">
                        <tr th:each="post : ${userPosts}">
                            <td class="bg-info" scope="row" style="width: 5%">
                                <img class="mr-2 " src="/img/post-bubble.png" alt="PostBubble" width="30px"
                                     height="30px">
                            </td>
                            <td
                                    style="width: 5%"
                                    class="bg-info"
                                    th:text="|${post.mood.moodsName.name()}|"
                            ></td>
                            <td class="bg-primary"
                                style="width: 15%"
                                th:text="|${post.userLikes.size()} likes|"
                            ></td>
                            <td th:text="${post.content}"></td>
                            <td style="width: 15%">
                                <a
                                        class="btn-danger btn"
                                        th:href="@{remove/{id}(id=*{post.id})}">
                                    Remove</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">All Other Posts</h3>
                <h6 th:text="| ${otherUsersPost.size()} total posts|"
                    class="mySticky bg-gray text-dark  mb-0 mt-0"></h6>
                <div class="bg-dark rounded m-auto" style="height: 68.5vh; overflow: auto">
                    <th:block th:each="postOther : ${otherUsersPost}">
                        <br>
                        <ul class="list-group list-group-horizontal text-dark">
                            <li class="list-group-item">
                                <table>
                                    <tr>
                                        <td style="width: 15%">
                                            <a th:text="|${postOther.user.username}:|"></a></td>
                                        <td>
                                            <a th:text="|${postOther.content}|"></a>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="list-group-item bg-gray">
                                <table>
                                    <tr>
                                        <td style="width: 10%"
                                            th:text="|Mood: ${postOther.mood.moodsName.name()}|"
                                        ></td>
                                        <td class="text-primary"
                                            th:text="|${postOther.userLikes.size()} likes|"
                                        ></td>
                                        <td><a class="ml-3 text-danger"
                                               th:href="@{/like-post/{id}(id=*{postOther.id})}">
                                            <img src="/img/like.png" width="43px"
                                                 height="40px"></a></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>