<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add post</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          method="post"
          action="/posts/add-post"
          th:object="${addPostDto}"
    >

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="content" class="h4 mb-2">Content</label>
            </div>
            <textarea
                    th:field="*{content}"
                    th:errorclass="'is-invalid bg-danger'"
                    type="text"
                    class="form-control"
                    id="content"
                    name="content"></textarea>
            <small
                    th:if="${#fields.hasErrors('content')}"
                    th:errors="*{content}"
                    class="text-danger">Content error message
            </small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="mood" class="h4 mb-2">Mood</label>
            </div>
            <select
                    th:field="*{mood}"
                    th:errorclass="'is-invalid bg-danger'"
                    class="browser-default custom-select"
                    id="mood"
                    name="mood">
                <option value="">Select mood</option>
                <option value="HAPPY">Happy</option>
                <option value="SAD">Sad</option>
                <option value="INSPIRED">Inspired</option>
            </select>

            <small
                    th:if="${#fields.hasErrors('mood')}"
                    th:errors="*{mood}"
                    class="text-danger">Mood error message
            </small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add post</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
